#main{
   position: relative;
   border: black 1px solid;
   background-image: url('images\escheresque.png');
}

#canvas{
   border: black 1px solid;
}

#score_sheet{
   border: black 1px solid;
   background-color: red;
}

#canvas2{
	border: black 1px solid;
}

